// Menu wrapper
.menu-list {
  width: 228px;

  .menu-item {
    display: block;
    text-align: start;
    margin-left: 0;
    line-height: 1.8rem;
    width: 100%;
    // justify-content: flex-start;

    &:hover {
      background: rgba(22, 24, 35, 0.03);
      border-radius: 0;
    }
  }

  .menu-popper {
    padding-bottom: 8px;
  }
}

// Menu-item

// Header
.header {
  position: relative;
  height: 50px;
}

.back-btn {
  width: 50px;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
